<div class="row">
    <div class="col-12" style="margin-top: 20px; margin-bottom: 20px;">
        <div style="margin-left: 15%;">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 w-50" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 btn-custom1" style="width: 20%;" type="submit">Search</button>
          </form>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">PEAM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div style="width: 80%; margin-left: 10%;" >
        <ul class="navbar-nav  text-center">
            <li class="nav-item active">
                <a class="nav-link" href="/"><i class="fas fa-home"></i>INICIO </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-person"></i> CUENTA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-building"></i> ACERCA DE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact"><i class="fas fa-envelope"></i> CONTACTO</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
                role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-shopping-cart"></i>
                    MI CUENTA
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/ventas">Ventas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Publicaciones</a>
                    <a class="dropdown-item" href="#">Compras</a>
                    <a class="dropdown-item" href="#">Perfil</a>
                    
                </div>
            </li>
            
        </ul>
        </div>
       
    </div>
</nav>